<script type="text/javascript">

$(document).ready(function() {

	var newSyncSpaceDiv = $('#new-sync-space');

	$('#new-sync-space-btn').click(function(){
		if (newSyncSpaceDiv.is(":visible")) {
			newSyncSpaceDiv.slideUp();
		}
		else {
			newSyncSpaceDiv.slideDown();
		}
	});

	var newSyncSpaceForm = $('#new-sync-space-form');

	newSyncSpaceForm.validate();

	newSyncSpaceForm.submit(function() {

		if (!$(this).valid()) {
			return false;
		}

		var errorDiv = $('#new-sync-space-errors')
		var successDiv = $('#new-sync-space-success')

		errorDiv.hide();
		successDiv.hide();

		var errorHandler = function(response) {
		  console.log("Error Creating Sync Space");
		  errorDiv.text('Whoops! There was an error creating this sync space. ');

		  if (response.err) {
		    // show user the actual error
		    errorDiv.append(response.err);
		  }

		  errorDiv.show();

		};

		var successHandler = function(response) {
			if (response.err) {
				errorHandler(response);
				return;
			} else {
				if (response.syncSpace) {
					
					console.log(response.syncSpace);

					successDiv.show();
		      		newSyncSpaceDiv.fadeOut(1500, function(){

		      			successDiv.hide();

		      			//reset the form
		      			newSyncSpaceForm.find('input[name=name]').val('');

		      		});

		      		$('#sync_space-list table tr:last').after('<tr><td>'+ response.syncSpace.name+ '</td><td>'+ response.syncSpace.url +'</td><td>Edit</td></tr>');
				}
			}
		};

		var dataString = $(this).serialize();

		makeAjaxRequest("POST", $(this).attr('action'), dataString, successHandler, errorHandler);

		return false; // prevents normal behaviour

	});

});

</script>

<div class="container top-container">
	<div class="col-md-6 page-title">Dashboard</div>
	<div class="col-md-6 page-button">
		<button id="new-sync-space-btn" class="btn btn-default">New Sync Space</button>
	</div>
	<div class="clearfix"></div>
	
	<div id="new-sync-space">
		<form action="syncSpace/create" method="POST" id="new-sync-space-form">
			<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			<input type="hidden" name="user" value="<%= user.id %>" />
			<div class="col-md-3">New Sync Space:</div>
			<div class="col-md-3"><input name="name" type="text" placeholder="Name" required /></div>
			<div class="col-md-3"><button id="submit-new-sync-space-btn" class="btn btn-default">Create</button></div>
			<div class="clearfix"></div>
		</form>
		<div id="new-sync-space-errors" class="error">Whoops! There was an error. </div>
		<div id="new-sync-space-success" class="success">Successfully Added</div>
	</div>

	<div id="sync_space-list">
		<table>
			<tr>
				<th>Name</th>
				<th>Url</th>
				<th></th>
			</tr>

			<% syncSpaces.forEach(function(sp, index){ %>

				<tr>
					<td><%= sp.name  %></td>
					<td><%= sp.url  %></td>
					<td>Edit</td>
				</tr>

			<% }); %>
	
		</table>
	</div>
</div>