<script type="text/javascript">

$(document).ready(function() {

	var signupForm = $('#signup-form');

	signupForm.validate();

	signupForm.submit(function() {

		if (!$(this).valid()) {
			return false;
		}

		var errorDiv = $('#signup-errors');
		var successDiv = $('#signup-success');

		errorDiv.hide();
		successDiv.hide();

		var errorHandler = function(response) {
		  console.log("Error Creating Account");
		  errorDiv.text('Whoops! There was an error creating this account. ');

		  if (response.err) {
		    // show user the actual error
		    errorDiv.append(response.err);
		  }

		  errorDiv.show();

		};

		var successHandler = function(response) {
			if (response.err) {
				errorHandler(response);
				return;
			} else {
				if (response.user) {
					// User created... redirect.
					console.log(response.user);
					window.location.replace('/dashboard');
				}
			}
		};

		var dataString = $(this).serialize();

		makeAjaxRequest("POST", $(this).attr('action'), dataString, successHandler, errorHandler);

		return false; // prevents normal behaviour

	});



});

</script>

<div id="home-hero">
	<div class="container">
		<div id="home-logo"></div>
		<div class="col-md-6">
		    <form id="signup-form" accept-charset="UTF-8" action="/user/create" method="post">
		    	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
				<input class="" name="firstName" placeholder="First Name" type="text" required> 
				<input class="" name="lastName" placeholder="Last Name" type="text" required> 
		        <input class="" name="email" placeholder="Email" type="email" required>
		        <input class="" name="password" placeholder="Password" type="password" required>
		        <div class="clearfix"></div>
		        <div class="col-md-6 no-padding"> 
		        	<button class="button button-light" type="submit">Sign Up</button>
		        </div>
		        <div class="col-md-6 no-padding"> 
		        	<div id="or">or <a class="bold" href="/session/new">Sign In</a></div>
		   	 	</div>
		   	 	<div class="clearfix"></div>
		   	 	<div id="signup-legal">
		   	 		By joining SynchroDev, you agree to Boncom's User Agreement and Privacy Policy.
				</div>
				<div class="error" id="signup-errors"></div>
		    </form>
		</div>
		<div class="col-md-6">
			<div id="home-bullets">
				<div class="home-bullet" id="bullet1">Synchronized Interactions</div>
				<div class="home-bullet" id="bullet2">Rapid Development</div>
				<div class="home-bullet" id="bullet3">Cross-Device</div>
			</div>
		</div>
		
	</div>
</div>