
body {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
  color: #082a3e;
}


.bold {
  font-weight: bold;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  background-color: #465057;
  padding: 30px 0;
  color: #fff;
}

/* END Sticky footer styles
-------------------------------------------------- */

#top-spacer {
  height: 50px;
}

#home-hero {
  background-color: #333;
  color: #fff;
  height: 900px;
  background:url(../images/hero.jpg) no-repeat center center;
  background-size: cover;
}

#home-logo {
  width: 500px;
  height: 80px;
  margin: 70px auto;
  background:url(../images/logo-white.png) no-repeat center center;
  background-size: 100%;
}

#signup-form {
    display: block;
    width: 400px;
    background: rgba(0,0,0,.5);
    float: right;
    padding: 20px;
    margin-right: 20px;
}

#signin-form {
    display: block;
    width: 400px;
    background: rgba(0,0,0,.5);
    margin: 50px auto 0;
    padding: 20px;
    color: #fff;
}

#signin-errors {
    margin-top: 20px;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  border: none;
  margin: 15px 0;
  color: #082a3e;
  font-weight: normal;
  font-size: 22px;
  padding: 11px;
}

input[type="text"].dark,
input[type="password"].dark,
input[type="tel"].dark,
input[type="email"].dark {
  border: 1px solid #333;
  color: #fff;
}

#home-bullets {
    margin-left: 20px;
}

#home-bullets #bullet1 {
  background-image: url(../images/sync-icon.png);
}

#home-bullets #bullet2 {
  background-image: url(../images/rapid-icon.png);
}

#home-bullets #bullet3 {
  background-image: url(../images/cross-device-icon.png);
}

.home-bullet {
  font-size: 30px;
  margin: 20px 0;
  min-height: 59px;
  padding: 10px 0 0 64px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: left center;
}

#footer-legal {
  text-align: center;
  margin: 30px 0 0;
}

.page-button .btn {
  float: right;
}

.top-container {
  margin-top: 20px;
}

.page-title {
    font-weight: bold;
    font-size: 30px;
}

#sync_space-list {
    margin-top: 30px;
}

#sync_space-list table {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}

#sync_space-list table th,
#sync_space-list table td {
  text-align: center;
}

#new-sync-space {
    margin: 20px 0;
    display: none;
}

.error {
  color: #be413d;
}

input.error {
  border: 1px solid #be413d;
}

.success {
  color: #4daea7;
}

#new-sync-space-errors {
  display: none;
}

#new-sync-space-success {
  display: none;
}


#account-container {
    max-width: 500px;
    margin: auto;
}

#footer-links {
  text-align: center;
  margin-top: 17px;
}

#footer-links a {
  color: #fff;
}

#footer-logo {
    width: 50px;
    height: 50px;
    background:url(../images/logo-icon-blue.png) no-repeat center center;
    background-size: 100%;
    margin: auto;
}

#or {
    margin: 8px 0 0 44px;
    font-size: 18px;
}

#signup-legal {
    margin-top: 15px;
}

.block-title {
  text-align: center;
  font-size: 20px;
}


/* Buttons
-------------------------------------------------- */

button.button {
  width: 100%;
  border: none;
  margin: 0;
  color: #fff;
  font-weight: lighter;
  font-size: 16px;
  padding: 11px;
  background-color: #082a3e;
}

button.button-light {
  background-color: #4daea7;
}

/* End Buttons
-------------------------------------------------- */

/* Bootsrap Overrides
-------------------------------------------------- */

input,
button,
select,
textarea {
  display: block;
}

a, a:hover, a:focus {
  text-decoration: none;
  color: #4daea7;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

label {
  font-weight: lighter;
}

.navbar {
  min-height: 65px;
}

.navbar-default {
    background-color: #465057;
    border: none;
}

.navbar-default .navbar-brand {
  background:url(../images/logo-white.png) no-repeat center center;
  background-size: 100%;
  width: 250px;
}

.navbar-header {
  margin-top: 7px;
}


.navbar-default .navbar-nav>li>a {
    color: #fff;
    height: 65px;
    padding-top: 23px;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #4daea7
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}


/* END Bootsrap Overrides
-------------------------------------------------- */