
body {
  font-family: "Open Sans", sans-serif;
  color: #333;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* END Sticky footer styles
-------------------------------------------------- */

#top-spacer {
  height: 50px;
}

#home-hero {
  background-color: #333;
  color: #fff;
  height: 800px;
  background:url(../images/hero.jpg) no-repeat center center;
  background-size: cover;


}

#home-logo {
  width: 500px;
  font-size: 75px;
  text-align: center;
  margin: 70px auto;
}

#signup-form {
    display: block;
    width: 300px;
    background: gray;
    margin: auto;
    padding: 15px;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  border: none;
  margin: 10px 0;
  color: #333;
}

input[type="text"].dark,
input[type="password"].dark,
input[type="tel"].dark,
input[type="email"].dark {
  border: 1px solid #333;
  color: #fff;
}

.home-bullet {
  font-size: 37px;
  margin: 10px 0;
}

#footer-legal {
  text-align: center;
  margin: 10px 0;
}

.page-button .btn {
  float: right;
}

.top-container {
  margin-top: 20px;
}

.page-title {
    font-weight: bold;
    font-size: 30px;
}

#sync_space-list {
    margin-top: 30px;
}

#sync_space-list table {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  background: gray;
}

#sync_space-list table th,
#sync_space-list table td {
  text-align: center;
}

#new-sync-space {
    margin: 20px 0;
    display: none;
}

.error {
  color: #be413d;
}

.success {
  color: #4daea7;
}

#new-sync-space-errors {
  display: none;
}

#new-sync-space-success {
  display: none;
}


#account-container {
    max-width: 500px;
    margin: auto;
}



/* Bootsrap Overrides
-------------------------------------------------- */

input,
button,
select,
textarea {
  display: block;
}



/* END Bootsrap Overrides
-------------------------------------------------- */